<h1 class="text-center text-danger my-4">
    {{#if error.message}}
    {{error.message}}
    {{else}}
    Ocurrió un error inesperado
    {{/if}}
</h1>

<div class="text-center text-muted">{{error}}<div/>